<link rel="stylesheet" type="text/css" href="css/css/wmks-all.css" />
 <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
 <script type="text/javascript" src="js/jquery-ui.min.js"></script>
 <script type="text/javascript" src="wmks.js" type="text/javascript"></script>
 <script>
var wmks = WMKS.createWMKS("wmksContainer",{})
.register(WMKS.CONST.Events.CONNECTION_STATE_CHANGE,
function(event,data){
 if(data.state == cons.ConnectionState.CONNECTED)
 {
 console.log("connection state change : connected");
 }
 });
wmks.connect("ws://office.plustaxi.ru:14182");
 </script >
<div id="wmksContainer" style="position:absolute;width:100%;height:100%"></div>
