
/* ========================================================
*
* Pannonia - responsive admin template
*
* ========================================================
*
* File: fam-icons.css;
* Description: FamFam icons
* Version: 1.0
*
* ======================================================== */


[class^="fam-"],
[class*=" fam-"] {
	display:inline-block;
	width:17px;
	height:16px;
	*margin-right:.3em;
	line-height:14px;
	vertical-align:text-top;
	background-image:url("../img/icons/famfamfam-icons.png");
	background-position:14px 14px;
	background-repeat:no-repeat;
}
[class^="fam-"]:last-child, [class*=" fam-"]:last-child { *margin-left: 0; }
.btn.btn-large [class^="fam-"] { margin-top: 1px; }
.btn [class^="fam-"] { float: left; display: block; margin: -2px 4px -2px 0; }
.nav.nav-tabs [class^="fam-"], .nav.nav-tabs [class*=" fam-"] { float: left; margin: 2px 5px 0 0; }
.nav [class^="fam-"], .nav [class*=" fam-"] { float: left; margin: 2px 5px 0 0; }
.tabs-left .nav-tabs [class^="fam-"], .tabs-left .nav-tabs [class*=" fam-"] { margin-top: 2px; }

.fam-accept{background-position:0 0}
.fam-add{background-position:-20px 0}
.fam-anchor{background-position:-40px 0}
.fam-application{background-position:-60px 0}
.fam-application-add{background-position:-80px 0}
.fam-application-cascade{background-position:-100px 0}
.fam-application-delete{background-position:-120px 0}
.fam-application-double{background-position:-140px 0}
.fam-application-edit{background-position:-160px 0}
.fam-application-error{background-position:-180px 0}
.fam-application-form{background-position:-200px 0}
.fam-application-form-add{background-position:-220px 0}
.fam-application-form-delete{background-position:-240px 0}
.fam-application-form-edit{background-position:-260px 0}
.fam-application-form-magnify{background-position:-280px 0}
.fam-application-get{background-position:-300px 0}
.fam-application-go{background-position:-320px 0}
.fam-application-home{background-position:-340px 0}
.fam-application-key{background-position:-360px 0}
.fam-application-lightning{background-position:-380px 0}
.fam-application-link{background-position:-400px 0}
.fam-application-osx{background-position:-420px 0}
.fam-application-osx-terminal{background-position:-440px 0}
.fam-application-put{background-position:-460px 0}
.fam-application-side-boxes{background-position:-480px 0}
.fam-application-side-contract{background-position:-500px 0}
.fam-application-side-expand{background-position:-520px 0}
.fam-application-side-list{background-position:-540px 0}
.fam-application-side-tree{background-position:-560px 0}
.fam-application-split{background-position:-580px 0}
.fam-application-tile-horizontal{background-position:-600px 0}
.fam-application-tile-vertical{background-position:-620px 0}
.fam-application-view-columns{background-position:-640px 0}
.fam-application-view-detail{background-position:-660px 0}
.fam-application-view-gallery{background-position:-680px 0}
.fam-application-view-icons{background-position:-700px 0}
.fam-application-view-list{background-position:-720px 0}
.fam-application-view-tile{background-position:-740px 0}
.fam-application-xp{background-position:-760px 0}
.fam-application-xp-terminal{background-position:-780px 0}
.fam-arrow-branch{background-position:-800px 0}
.fam-arrow-divide{background-position:-820px 0}
.fam-arrow-down{background-position:-840px 0}
.fam-arrow-in{background-position:-860px 0}
.fam-arrow-inout{background-position:-880px 0}
.fam-arrow-join{background-position:-900px 0}
.fam-arrow-left{background-position:-920px 0}
.fam-arrow-merge{background-position:-940px 0}
.fam-arrow-out{background-position:-960px 0}
.fam-arrow-redo{background-position:-980px 0}
.fam-arrow-refresh{background-position:-1000px 0}
.fam-arrow-refresh-small{background-position:-1020px 0}
.fam-arrow-right{background-position:-1040px 0}
.fam-arrow-rotate-anticlockwise{background-position:-1060px 0}
.fam-arrow-rotate-clockwise{background-position:-1080px 0}
.fam-arrow-switch{background-position:-1100px 0}
.fam-arrow-turn-left{background-position:-1120px 0}
.fam-arrow-turn-right{background-position:-1140px 0}
.fam-arrow-undo{background-position:-1160px 0}
.fam-arrow-up{background-position:-1180px 0}
.fam-asterisk-orange{background-position:-1200px 0}
.fam-asterisk-yellow{background-position:-1220px 0}
.fam-attach{background-position:-1240px 0}
.fam-award-star-add{background-position:-1260px 0}
.fam-award-star-bronze-1{background-position:-1280px 0}
.fam-award-star-bronze-2{background-position:-1300px 0}
.fam-award-star-bronze-3{background-position:-1320px 0}
.fam-award-star-delete{background-position:-1340px 0}
.fam-award-star-gold-1{background-position:-1360px 0}
.fam-award-star-gold-2{background-position:-1380px 0}
.fam-award-star-gold-3{background-position:-1400px 0}
.fam-award-star-silver-1{background-position:-1420px 0}
.fam-award-star-silver-2{background-position:-1440px 0}
.fam-award-star-silver-3{background-position:-1460px 0}
.fam-basket{background-position:-1480px 0}
.fam-basket-add{background-position:-1500px 0}
.fam-basket-delete{background-position:-1520px 0}
.fam-basket-edit{background-position:-1540px 0}
.fam-basket-error{background-position:-1560px 0}
.fam-basket-go{background-position:-1580px 0}
.fam-basket-put{background-position:-1600px 0}
.fam-basket-remove{background-position:-1620px 0}
.fam-bell{background-position:-1640px 0}
.fam-bell-add{background-position:-1660px 0}
.fam-bell-delete{background-position:-1680px 0}
.fam-bell-error{background-position:-1700px 0}
.fam-bell-go{background-position:-1720px 0}
.fam-bell-link{background-position:-1740px 0}
.fam-bin{background-position:-1760px 0}
.fam-bin-closed{background-position:-1780px 0}
.fam-bin-empty{background-position:-1800px 0}
.fam-bomb{background-position:-1820px 0}
.fam-book{background-position:-1840px 0}
.fam-book-add{background-position:-1860px 0}
.fam-book-addresses{background-position:-1880px 0}
.fam-book-delete{background-position:-1900px 0}
.fam-book-edit{background-position:-1920px 0}
.fam-book-error{background-position:-1940px 0}
.fam-book-go{background-position:-1960px 0}
.fam-book-key{background-position:-1980px 0}
.fam-book-link{background-position:0 -20px}
.fam-book-next{background-position:-20px -20px}
.fam-book-open{background-position:-40px -20px}
.fam-book-previous{background-position:-60px -20px}
.fam-box{background-position:-80px -20px}
.fam-brick{background-position:-100px -20px}
.fam-brick-add{background-position:-120px -20px}
.fam-brick-delete{background-position:-140px -20px}
.fam-brick-edit{background-position:-160px -20px}
.fam-brick-error{background-position:-180px -20px}
.fam-brick-go{background-position:-200px -20px}
.fam-brick-link{background-position:-220px -20px}
.fam-bricks{background-position:-240px -20px}
.fam-briefcase{background-position:-260px -20px}
.fam-bug{background-position:-280px -20px}
.fam-bug-add{background-position:-300px -20px}
.fam-bug-delete{background-position:-320px -20px}
.fam-bug-edit{background-position:-340px -20px}
.fam-bug-error{background-position:-360px -20px}
.fam-bug-go{background-position:-380px -20px}
.fam-bug-link{background-position:-400px -20px}
.fam-building{background-position:-420px -20px}
.fam-building-add{background-position:-440px -20px}
.fam-building-delete{background-position:-460px -20px}
.fam-building-edit{background-position:-480px -20px}
.fam-building-error{background-position:-500px -20px}
.fam-building-go{background-position:-520px -20px}
.fam-building-key{background-position:-540px -20px}
.fam-building-link{background-position:-560px -20px}
.fam-bullet-add{background-position:-580px -20px}
.fam-bullet-arrow-bottom{background-position:-600px -20px}
.fam-bullet-arrow-down{background-position:-620px -20px}
.fam-bullet-arrow-top{background-position:-640px -20px}
.fam-bullet-arrow-up{background-position:-660px -20px}
.fam-bullet-black{background-position:-680px -20px}
.fam-bullet-blue{background-position:-700px -20px}
.fam-bullet-delete{background-position:-720px -20px}
.fam-bullet-disk{background-position:-740px -20px}
.fam-bullet-error{background-position:-760px -20px}
.fam-bullet-feed{background-position:-780px -20px}
.fam-bullet-go{background-position:-800px -20px}
.fam-bullet-green{background-position:-820px -20px}
.fam-bullet-key{background-position:-840px -20px}
.fam-bullet-orange{background-position:-860px -20px}
.fam-bullet-picture{background-position:-880px -20px}
.fam-bullet-pink{background-position:-900px -20px}
.fam-bullet-purple{background-position:-920px -20px}
.fam-bullet-red{background-position:-940px -20px}
.fam-bullet-star{background-position:-960px -20px}
.fam-bullet-toggle-minus{background-position:-980px -20px}
.fam-bullet-toggle-plus{background-position:-1000px -20px}
.fam-bullet-white{background-position:-1020px -20px}
.fam-bullet-wrench{background-position:-1040px -20px}
.fam-bullet-yellow{background-position:-1060px -20px}
.fam-cake{background-position:-1080px -20px}
.fam-calculator{background-position:-1100px -20px}
.fam-calculator-add{background-position:-1120px -20px}
.fam-calculator-delete{background-position:-1140px -20px}
.fam-calculator-edit{background-position:-1160px -20px}
.fam-calculator-error{background-position:-1180px -20px}
.fam-calculator-link{background-position:-1200px -20px}
.fam-calendar{background-position:-1220px -20px}
.fam-calendar-add{background-position:-1240px -20px}
.fam-calendar-delete{background-position:-1260px -20px}
.fam-calendar-edit{background-position:-1280px -20px}
.fam-calendar-link{background-position:-1300px -20px}
.fam-calendar-view-day{background-position:-1320px -20px}
.fam-calendar-view-month{background-position:-1340px -20px}
.fam-calendar-view-week{background-position:-1360px -20px}
.fam-camera{background-position:-1380px -20px}
.fam-camera-add{background-position:-1400px -20px}
.fam-camera-delete{background-position:-1420px -20px}
.fam-camera-edit{background-position:-1440px -20px}
.fam-camera-error{background-position:-1460px -20px}
.fam-camera-go{background-position:-1480px -20px}
.fam-camera-link{background-position:-1500px -20px}
.fam-camera-small{background-position:-1520px -20px}
.fam-cancel{background-position:-1540px -20px}
.fam-car{background-position:-1560px -20px}
.fam-car-add{background-position:-1580px -20px}
.fam-car-delete{background-position:-1600px -20px}
.fam-cart{background-position:-1620px -20px}
.fam-cart-add{background-position:-1640px -20px}
.fam-cart-delete{background-position:-1660px -20px}
.fam-cart-edit{background-position:-1680px -20px}
.fam-cart-error{background-position:-1700px -20px}
.fam-cart-go{background-position:-1720px -20px}
.fam-cart-put{background-position:-1740px -20px}
.fam-cart-remove{background-position:-1760px -20px}
.fam-cd{background-position:-1780px -20px}
.fam-cd-add{background-position:-1800px -20px}
.fam-cd-burn{background-position:-1820px -20px}
.fam-cd-delete{background-position:-1840px -20px}
.fam-cd-edit{background-position:-1860px -20px}
.fam-cd-eject{background-position:-1880px -20px}
.fam-cd-go{background-position:-1900px -20px}
.fam-chart-bar{background-position:-1920px -20px}
.fam-chart-bar-add{background-position:-1940px -20px}
.fam-chart-bar-delete{background-position:-1960px -20px}
.fam-chart-bar-edit{background-position:-1980px -20px}
.fam-chart-bar-error{background-position:0 -40px}
.fam-chart-bar-link{background-position:-20px -40px}
.fam-chart-curve{background-position:-40px -40px}
.fam-chart-curve-add{background-position:-60px -40px}
.fam-chart-curve-delete{background-position:-80px -40px}
.fam-chart-curve-edit{background-position:-100px -40px}
.fam-chart-curve-error{background-position:-120px -40px}
.fam-chart-curve-go{background-position:-140px -40px}
.fam-chart-curve-link{background-position:-160px -40px}
.fam-chart-line{background-position:-180px -40px}
.fam-chart-line-add{background-position:-200px -40px}
.fam-chart-line-delete{background-position:-220px -40px}
.fam-chart-line-edit{background-position:-240px -40px}
.fam-chart-line-error{background-position:-260px -40px}
.fam-chart-line-link{background-position:-280px -40px}
.fam-chart-organisation{background-position:-300px -40px}
.fam-chart-organisation-add{background-position:-320px -40px}
.fam-chart-organisation-delete{background-position:-340px -40px}
.fam-chart-pie{background-position:-360px -40px}
.fam-chart-pie-add{background-position:-380px -40px}
.fam-chart-pie-delete{background-position:-400px -40px}
.fam-chart-pie-edit{background-position:-420px -40px}
.fam-chart-pie-error{background-position:-440px -40px}
.fam-chart-pie-link{background-position:-460px -40px}
.fam-clock{background-position:-480px -40px}
.fam-clock-add{background-position:-500px -40px}
.fam-clock-delete{background-position:-520px -40px}
.fam-clock-edit{background-position:-540px -40px}
.fam-clock-error{background-position:-560px -40px}
.fam-clock-go{background-position:-580px -40px}
.fam-clock-link{background-position:-600px -40px}
.fam-clock-pause{background-position:-620px -40px}
.fam-clock-play{background-position:-640px -40px}
.fam-clock-red{background-position:-660px -40px}
.fam-clock-stop{background-position:-680px -40px}
.fam-cog{background-position:-700px -40px}
.fam-cog-add{background-position:-720px -40px}
.fam-cog-delete{background-position:-740px -40px}
.fam-cog-edit{background-position:-760px -40px}
.fam-cog-error{background-position:-780px -40px}
.fam-cog-go{background-position:-800px -40px}
.fam-coins{background-position:-820px -40px}
.fam-coins-add{background-position:-840px -40px}
.fam-coins-delete{background-position:-860px -40px}
.fam-color-swatch{background-position:-880px -40px}
.fam-color-wheel{background-position:-900px -40px}
.fam-comment{background-position:-920px -40px}
.fam-comment-add{background-position:-940px -40px}
.fam-comment-delete{background-position:-960px -40px}
.fam-comment-edit{background-position:-980px -40px}
.fam-comments{background-position:-1000px -40px}
.fam-comments-add{background-position:-1020px -40px}
.fam-comments-delete{background-position:-1040px -40px}
.fam-compress{background-position:-1060px -40px}
.fam-computer{background-position:-1080px -40px}
.fam-computer-add{background-position:-1100px -40px}
.fam-computer-delete{background-position:-1120px -40px}
.fam-computer-edit{background-position:-1140px -40px}
.fam-computer-error{background-position:-1160px -40px}
.fam-computer-go{background-position:-1180px -40px}
.fam-computer-key{background-position:-1200px -40px}
.fam-computer-link{background-position:-1220px -40px}
.fam-connect{background-position:-1240px -40px}
.fam-contrast{background-position:-1260px -40px}
.fam-contrast-decrease{background-position:-1280px -40px}
.fam-contrast-high{background-position:-1300px -40px}
.fam-contrast-increase{background-position:-1320px -40px}
.fam-contrast-low{background-position:-1340px -40px}
.fam-control-eject{background-position:-1360px -40px}
.fam-control-eject-blue{background-position:-1380px -40px}
.fam-control-end{background-position:-1400px -40px}
.fam-control-end-blue{background-position:-1420px -40px}
.fam-control-equalizer{background-position:-1440px -40px}
.fam-control-equalizer-blue{background-position:-1460px -40px}
.fam-control-fastforward{background-position:-1480px -40px}
.fam-control-fastforward-blue{background-position:-1500px -40px}
.fam-control-pause{background-position:-1520px -40px}
.fam-control-pause-blue{background-position:-1540px -40px}
.fam-control-play{background-position:-1560px -40px}
.fam-control-play-blue{background-position:-1580px -40px}
.fam-control-repeat{background-position:-1600px -40px}
.fam-control-repeat-blue{background-position:-1620px -40px}
.fam-control-rewind{background-position:-1640px -40px}
.fam-control-rewind-blue{background-position:-1660px -40px}
.fam-control-start{background-position:-1680px -40px}
.fam-control-start-blue{background-position:-1700px -40px}
.fam-control-stop{background-position:-1720px -40px}
.fam-control-stop-blue{background-position:-1740px -40px}
.fam-controller{background-position:-1760px -40px}
.fam-controller-add{background-position:-1780px -40px}
.fam-controller-delete{background-position:-1800px -40px}
.fam-controller-error{background-position:-1820px -40px}
.fam-creditcards{background-position:-1840px -40px}
.fam-cross{background-position:-1860px -40px}
.fam-css{background-position:-1880px -40px}
.fam-css-add{background-position:-1900px -40px}
.fam-css-delete{background-position:-1920px -40px}
.fam-css-go{background-position:-1940px -40px}
.fam-css-valid{background-position:-1960px -40px}
.fam-cup{background-position:-1980px -40px}
.fam-cup-add{background-position:0 -60px}
.fam-cup-delete{background-position:-20px -60px}
.fam-cup-edit{background-position:-40px -60px}
.fam-cup-error{background-position:-60px -60px}
.fam-cup-go{background-position:-80px -60px}
.fam-cup-key{background-position:-100px -60px}
.fam-cup-link{background-position:-120px -60px}
.fam-cursor{background-position:-140px -60px}
.fam-cut{background-position:-160px -60px}
.fam-cut-red{background-position:-180px -60px}
.fam-database{background-position:-200px -60px}
.fam-database-add{background-position:-220px -60px}
.fam-database-connect{background-position:-240px -60px}
.fam-database-delete{background-position:-260px -60px}
.fam-database-edit{background-position:-280px -60px}
.fam-database-error{background-position:-300px -60px}
.fam-database-gear{background-position:-320px -60px}
.fam-database-go{background-position:-340px -60px}
.fam-database-key{background-position:-360px -60px}
.fam-database-lightning{background-position:-380px -60px}
.fam-database-link{background-position:-400px -60px}
.fam-database-refresh{background-position:-420px -60px}
.fam-database-save{background-position:-440px -60px}
.fam-database-table{background-position:-460px -60px}
.fam-date{background-position:-480px -60px}
.fam-date-add{background-position:-500px -60px}
.fam-date-delete{background-position:-520px -60px}
.fam-date-edit{background-position:-540px -60px}
.fam-date-error{background-position:-560px -60px}
.fam-date-go{background-position:-580px -60px}
.fam-date-link{background-position:-600px -60px}
.fam-date-magnify{background-position:-620px -60px}
.fam-date-next{background-position:-640px -60px}
.fam-date-previous{background-position:-660px -60px}
.fam-delete{background-position:-680px -60px}
.fam-disconnect{background-position:-700px -60px}
.fam-disk{background-position:-720px -60px}
.fam-disk-multiple{background-position:-740px -60px}
.fam-door{background-position:-760px -60px}
.fam-door-in{background-position:-780px -60px}
.fam-door-open{background-position:-800px -60px}
.fam-door-out{background-position:-820px -60px}
.fam-drink{background-position:-840px -60px}
.fam-drink-empty{background-position:-860px -60px}
.fam-drive{background-position:-880px -60px}
.fam-drive-add{background-position:-900px -60px}
.fam-drive-burn{background-position:-920px -60px}
.fam-drive-cd{background-position:-940px -60px}
.fam-drive-cd-empty{background-position:-960px -60px}
.fam-drive-delete{background-position:-980px -60px}
.fam-drive-disk{background-position:-1000px -60px}
.fam-drive-edit{background-position:-1020px -60px}
.fam-drive-error{background-position:-1040px -60px}
.fam-drive-go{background-position:-1060px -60px}
.fam-drive-key{background-position:-1080px -60px}
.fam-drive-link{background-position:-1100px -60px}
.fam-drive-magnify{background-position:-1120px -60px}
.fam-drive-network{background-position:-1140px -60px}
.fam-drive-rename{background-position:-1160px -60px}
.fam-drive-user{background-position:-1180px -60px}
.fam-drive-web{background-position:-1200px -60px}
.fam-dvd{background-position:-1220px -60px}
.fam-dvd-add{background-position:-1240px -60px}
.fam-dvd-delete{background-position:-1260px -60px}
.fam-dvd-edit{background-position:-1280px -60px}
.fam-dvd-error{background-position:-1300px -60px}
.fam-dvd-go{background-position:-1320px -60px}
.fam-dvd-key{background-position:-1340px -60px}
.fam-dvd-link{background-position:-1360px -60px}
.fam-email{background-position:-1380px -60px}
.fam-email-add{background-position:-1400px -60px}
.fam-email-attach{background-position:-1420px -60px}
.fam-email-delete{background-position:-1440px -60px}
.fam-email-edit{background-position:-1460px -60px}
.fam-email-error{background-position:-1480px -60px}
.fam-email-go{background-position:-1500px -60px}
.fam-email-link{background-position:-1520px -60px}
.fam-email-open{background-position:-1540px -60px}
.fam-email-open-image{background-position:-1560px -60px}
.fam-emoticon-evilgrin{background-position:-1580px -60px}
.fam-emoticon-grin{background-position:-1600px -60px}
.fam-emoticon-happy{background-position:-1620px -60px}
.fam-emoticon-smile{background-position:-1640px -60px}
.fam-emoticon-surprised{background-position:-1660px -60px}
.fam-emoticon-tongue{background-position:-1680px -60px}
.fam-emoticon-unhappy{background-position:-1700px -60px}
.fam-emoticon-waii{background-position:-1720px -60px}
.fam-emoticon-wink{background-position:-1740px -60px}
.fam-error{background-position:-1760px -60px}
.fam-error-add{background-position:-1780px -60px}
.fam-error-delete{background-position:-1800px -60px}
.fam-error-go{background-position:-1820px -60px}
.fam-exclamation{background-position:-1840px -60px}
.fam-eye{background-position:-1860px -60px}
.fam-feed{background-position:-1880px -60px}
.fam-feed-add{background-position:-1900px -60px}
.fam-feed-delete{background-position:-1920px -60px}
.fam-feed-disk{background-position:-1940px -60px}
.fam-feed-edit{background-position:-1960px -60px}
.fam-feed-error{background-position:-1980px -60px}
.fam-feed-go{background-position:0 -80px}
.fam-feed-key{background-position:-20px -80px}
.fam-feed-link{background-position:-40px -80px}
.fam-feed-magnify{background-position:-60px -80px}
.fam-female{background-position:-80px -80px}
.fam-film{background-position:-100px -80px}
.fam-film-add{background-position:-120px -80px}
.fam-film-delete{background-position:-140px -80px}
.fam-film-edit{background-position:-160px -80px}
.fam-film-error{background-position:-180px -80px}
.fam-film-go{background-position:-200px -80px}
.fam-film-key{background-position:-220px -80px}
.fam-film-link{background-position:-240px -80px}
.fam-film-save{background-position:-260px -80px}
.fam-find{background-position:-280px -80px}
.fam-flag-blue{background-position:-300px -80px}
.fam-flag-green{background-position:-320px -80px}
.fam-flag-orange{background-position:-340px -80px}
.fam-flag-pink{background-position:-360px -80px}
.fam-flag-purple{background-position:-380px -80px}
.fam-flag-red{background-position:-400px -80px}
.fam-flag-yellow{background-position:-420px -80px}
.fam-folder{background-position:-440px -80px}
.fam-folder-add{background-position:-460px -80px}
.fam-folder-bell{background-position:-480px -80px}
.fam-folder-brick{background-position:-500px -80px}
.fam-folder-bug{background-position:-520px -80px}
.fam-folder-camera{background-position:-540px -80px}
.fam-folder-database{background-position:-560px -80px}
.fam-folder-delete{background-position:-580px -80px}
.fam-folder-edit{background-position:-600px -80px}
.fam-folder-error{background-position:-620px -80px}
.fam-folder-explore{background-position:-640px -80px}
.fam-folder-feed{background-position:-660px -80px}
.fam-folder-find{background-position:-680px -80px}
.fam-folder-go{background-position:-700px -80px}
.fam-folder-heart{background-position:-720px -80px}
.fam-folder-image{background-position:-740px -80px}
.fam-folder-key{background-position:-760px -80px}
.fam-folder-lightbulb{background-position:-780px -80px}
.fam-folder-link{background-position:-800px -80px}
.fam-folder-magnify{background-position:-820px -80px}
.fam-folder-page{background-position:-840px -80px}
.fam-folder-page-white{background-position:-860px -80px}
.fam-folder-palette{background-position:-880px -80px}
.fam-folder-picture{background-position:-900px -80px}
.fam-folder-star{background-position:-920px -80px}
.fam-folder-table{background-position:-940px -80px}
.fam-folder-user{background-position:-960px -80px}
.fam-folder-wrench{background-position:-980px -80px}
.fam-font{background-position:-1000px -80px}
.fam-font-add{background-position:-1020px -80px}
.fam-font-delete{background-position:-1040px -80px}
.fam-font-go{background-position:-1060px -80px}
.fam-group{background-position:-1080px -80px}
.fam-group-add{background-position:-1100px -80px}
.fam-group-delete{background-position:-1120px -80px}
.fam-group-edit{background-position:-1140px -80px}
.fam-group-error{background-position:-1160px -80px}
.fam-group-gear{background-position:-1180px -80px}
.fam-group-go{background-position:-1200px -80px}
.fam-group-key{background-position:-1220px -80px}
.fam-group-link{background-position:-1240px -80px}
.fam-heart{background-position:-1260px -80px}
.fam-heart-add{background-position:-1280px -80px}
.fam-heart-delete{background-position:-1300px -80px}
.fam-help{background-position:-1320px -80px}
.fam-hourglass{background-position:-1340px -80px}
.fam-hourglass-add{background-position:-1360px -80px}
.fam-hourglass-delete{background-position:-1380px -80px}
.fam-hourglass-go{background-position:-1400px -80px}
.fam-hourglass-link{background-position:-1420px -80px}
.fam-house{background-position:-1440px -80px}
.fam-house-go{background-position:-1460px -80px}
.fam-house-link{background-position:-1480px -80px}
.fam-html{background-position:-1500px -80px}
.fam-html-add{background-position:-1520px -80px}
.fam-html-delete{background-position:-1540px -80px}
.fam-html-go{background-position:-1560px -80px}
.fam-html-valid{background-position:-1580px -80px}
.fam-image{background-position:-1600px -80px}
.fam-image-add{background-position:-1620px -80px}
.fam-image-delete{background-position:-1640px -80px}
.fam-image-edit{background-position:-1660px -80px}
.fam-image-link{background-position:-1680px -80px}
.fam-images{background-position:-1700px -80px}
.fam-information{background-position:-1720px -80px}
.fam-ipod{background-position:-1740px -80px}
.fam-ipod-cast{background-position:-1760px -80px}
.fam-ipod-cast-add{background-position:-1780px -80px}
.fam-ipod-cast-delete{background-position:-1800px -80px}
.fam-ipod-sound{background-position:-1820px -80px}
.fam-joystick{background-position:-1840px -80px}
.fam-joystick-add{background-position:-1860px -80px}
.fam-joystick-delete{background-position:-1880px -80px}
.fam-joystick-error{background-position:-1900px -80px}
.fam-key{background-position:-1920px -80px}
.fam-key-add{background-position:-1940px -80px}
.fam-key-delete{background-position:-1960px -80px}
.fam-key-go{background-position:-1980px -80px}
.fam-keyboard{background-position:0 -100px}
.fam-keyboard-add{background-position:-20px -100px}
.fam-keyboard-delete{background-position:-40px -100px}
.fam-keyboard-magnify{background-position:-60px -100px}
.fam-layers{background-position:-80px -100px}
.fam-layout{background-position:-100px -100px}
.fam-layout-add{background-position:-120px -100px}
.fam-layout-content{background-position:-140px -100px}
.fam-layout-delete{background-position:-160px -100px}
.fam-layout-edit{background-position:-180px -100px}
.fam-layout-error{background-position:-200px -100px}
.fam-layout-header{background-position:-220px -100px}
.fam-layout-link{background-position:-240px -100px}
.fam-layout-sidebar{background-position:-260px -100px}
.fam-lightbulb{background-position:-280px -100px}
.fam-lightbulb-add{background-position:-300px -100px}
.fam-lightbulb-delete{background-position:-320px -100px}
.fam-lightbulb-off{background-position:-340px -100px}
.fam-lightning{background-position:-360px -100px}
.fam-lightning-add{background-position:-380px -100px}
.fam-lightning-delete{background-position:-400px -100px}
.fam-lightning-go{background-position:-420px -100px}
.fam-link{background-position:-440px -100px}
.fam-link-add{background-position:-460px -100px}
.fam-link-break{background-position:-480px -100px}
.fam-link-delete{background-position:-500px -100px}
.fam-link-edit{background-position:-520px -100px}
.fam-link-error{background-position:-540px -100px}
.fam-link-go{background-position:-560px -100px}
.fam-lock{background-position:-580px -100px}
.fam-lock-add{background-position:-600px -100px}
.fam-lock-break{background-position:-620px -100px}
.fam-lock-delete{background-position:-640px -100px}
.fam-lock-edit{background-position:-660px -100px}
.fam-lock-go{background-position:-680px -100px}
.fam-lock-open{background-position:-700px -100px}
.fam-lorry{background-position:-720px -100px}
.fam-lorry-add{background-position:-740px -100px}
.fam-lorry-delete{background-position:-760px -100px}
.fam-lorry-error{background-position:-780px -100px}
.fam-lorry-flatbed{background-position:-800px -100px}
.fam-lorry-go{background-position:-820px -100px}
.fam-lorry-link{background-position:-840px -100px}
.fam-magifier-zoom-out{background-position:-860px -100px}
.fam-magnifier{background-position:-880px -100px}
.fam-magnifier-zoom-in{background-position:-900px -100px}
.fam-male{background-position:-920px -100px}
.fam-map{background-position:-940px -100px}
.fam-map-add{background-position:-960px -100px}
.fam-map-delete{background-position:-980px -100px}
.fam-map-edit{background-position:-1000px -100px}
.fam-map-go{background-position:-1020px -100px}
.fam-map-magnify{background-position:-1040px -100px}
.fam-medal-bronze-1{background-position:-1060px -100px}
.fam-medal-bronze-2{background-position:-1080px -100px}
.fam-medal-bronze-3{background-position:-1100px -100px}
.fam-medal-bronze-add{background-position:-1120px -100px}
.fam-medal-bronze-delete{background-position:-1140px -100px}
.fam-medal-gold-1{background-position:-1160px -100px}
.fam-medal-gold-2{background-position:-1180px -100px}
.fam-medal-gold-3{background-position:-1200px -100px}
.fam-medal-gold-add{background-position:-1220px -100px}
.fam-medal-gold-delete{background-position:-1240px -100px}
.fam-medal-silver-1{background-position:-1260px -100px}
.fam-medal-silver-2{background-position:-1280px -100px}
.fam-medal-silver-3{background-position:-1300px -100px}
.fam-medal-silver-add{background-position:-1320px -100px}
.fam-medal-silver-delete{background-position:-1340px -100px}
.fam-money{background-position:-1360px -100px}
.fam-money-add{background-position:-1380px -100px}
.fam-money-delete{background-position:-1400px -100px}
.fam-money-dollar{background-position:-1420px -100px}
.fam-money-euro{background-position:-1440px -100px}
.fam-money-pound{background-position:-1460px -100px}
.fam-money-yen{background-position:-1480px -100px}
.fam-monitor{background-position:-1500px -100px}
.fam-monitor-add{background-position:-1520px -100px}
.fam-monitor-delete{background-position:-1540px -100px}
.fam-monitor-edit{background-position:-1560px -100px}
.fam-monitor-error{background-position:-1580px -100px}
.fam-monitor-go{background-position:-1600px -100px}
.fam-monitor-lightning{background-position:-1620px -100px}
.fam-monitor-link{background-position:-1640px -100px}
.fam-mouse{background-position:-1660px -100px}
.fam-mouse-add{background-position:-1680px -100px}
.fam-mouse-delete{background-position:-1700px -100px}
.fam-mouse-error{background-position:-1720px -100px}
.fam-music{background-position:-1740px -100px}
.fam-new{background-position:-1760px -100px}
.fam-newspaper{background-position:-1780px -100px}
.fam-newspaper-add{background-position:-1800px -100px}
.fam-newspaper-delete{background-position:-1820px -100px}
.fam-newspaper-go{background-position:-1840px -100px}
.fam-newspaper-link{background-position:-1860px -100px}
.fam-note{background-position:-1880px -100px}
.fam-note-add{background-position:-1900px -100px}
.fam-note-delete{background-position:-1920px -100px}
.fam-note-edit{background-position:-1940px -100px}
.fam-note-error{background-position:-1960px -100px}
.fam-note-go{background-position:-1980px -100px}
.fam-overlays{background-position:0 -120px}
.fam-package{background-position:-20px -120px}
.fam-package-add{background-position:-40px -120px}
.fam-package-delete{background-position:-60px -120px}
.fam-package-go{background-position:-80px -120px}
.fam-package-green{background-position:-100px -120px}
.fam-package-link{background-position:-120px -120px}
.fam-page{background-position:-140px -120px}
.fam-page-add{background-position:-160px -120px}
.fam-page-attach{background-position:-180px -120px}
.fam-page-code{background-position:-200px -120px}
.fam-page-copy{background-position:-220px -120px}
.fam-page-delete{background-position:-240px -120px}
.fam-page-edit{background-position:-260px -120px}
.fam-page-error{background-position:-280px -120px}
.fam-page-excel{background-position:-300px -120px}
.fam-page-find{background-position:-320px -120px}
.fam-page-gear{background-position:-340px -120px}
.fam-page-go{background-position:-360px -120px}
.fam-page-green{background-position:-380px -120px}
.fam-page-key{background-position:-400px -120px}
.fam-page-lightning{background-position:-420px -120px}
.fam-page-link{background-position:-440px -120px}
.fam-page-paintbrush{background-position:-460px -120px}
.fam-page-paste{background-position:-480px -120px}
.fam-page-red{background-position:-500px -120px}
.fam-page-refresh{background-position:-520px -120px}
.fam-page-save{background-position:-540px -120px}
.fam-page-white{background-position:-560px -120px}
.fam-page-white-acrobat{background-position:-580px -120px}
.fam-page-white-actionscript{background-position:-600px -120px}
.fam-page-white-add{background-position:-620px -120px}
.fam-page-white-c{background-position:-640px -120px}
.fam-page-white-camera{background-position:-660px -120px}
.fam-page-white-cd{background-position:-680px -120px}
.fam-page-white-code{background-position:-700px -120px}
.fam-page-white-code-red{background-position:-720px -120px}
.fam-page-white-coldfusion{background-position:-740px -120px}
.fam-page-white-compressed{background-position:-760px -120px}
.fam-page-white-copy{background-position:-780px -120px}
.fam-page-white-cplusplus{background-position:-800px -120px}
.fam-page-white-csharp{background-position:-820px -120px}
.fam-page-white-cup{background-position:-840px -120px}
.fam-page-white-database{background-position:-860px -120px}
.fam-page-white-delete{background-position:-880px -120px}
.fam-page-white-dvd{background-position:-900px -120px}
.fam-page-white-edit{background-position:-920px -120px}
.fam-page-white-error{background-position:-940px -120px}
.fam-page-white-excel{background-position:-960px -120px}
.fam-page-white-find{background-position:-980px -120px}
.fam-page-white-flash{background-position:-1000px -120px}
.fam-page-white-freehand{background-position:-1020px -120px}
.fam-page-white-gear{background-position:-1040px -120px}
.fam-page-white-get{background-position:-1060px -120px}
.fam-page-white-go{background-position:-1080px -120px}
.fam-page-white-h{background-position:-1100px -120px}
.fam-page-white-horizontal{background-position:-1120px -120px}
.fam-page-white-key{background-position:-1140px -120px}
.fam-page-white-lightning{background-position:-1160px -120px}
.fam-page-white-link{background-position:-1180px -120px}
.fam-page-white-magnify{background-position:-1200px -120px}
.fam-page-white-medal{background-position:-1220px -120px}
.fam-page-white-office{background-position:-1240px -120px}
.fam-page-white-paint{background-position:-1260px -120px}
.fam-page-white-paintbrush{background-position:-1280px -120px}
.fam-page-white-paste{background-position:-1300px -120px}
.fam-page-white-php{background-position:-1320px -120px}
.fam-page-white-picture{background-position:-1340px -120px}
.fam-page-white-powerpoint{background-position:-1360px -120px}
.fam-page-white-put{background-position:-1380px -120px}
.fam-page-white-ruby{background-position:-1400px -120px}
.fam-page-white-stack{background-position:-1420px -120px}
.fam-page-white-star{background-position:-1440px -120px}
.fam-page-white-swoosh{background-position:-1460px -120px}
.fam-page-white-text{background-position:-1480px -120px}
.fam-page-white-text-width{background-position:-1500px -120px}
.fam-page-white-tux{background-position:-1520px -120px}
.fam-page-white-vector{background-position:-1540px -120px}
.fam-page-white-visualstudio{background-position:-1560px -120px}
.fam-page-white-width{background-position:-1580px -120px}
.fam-page-white-word{background-position:-1600px -120px}
.fam-page-white-world{background-position:-1620px -120px}
.fam-page-white-wrench{background-position:-1640px -120px}
.fam-page-white-zip{background-position:-1660px -120px}
.fam-page-word{background-position:-1680px -120px}
.fam-page-world{background-position:-1700px -120px}
.fam-paintbrush{background-position:-1720px -120px}
.fam-paintcan{background-position:-1740px -120px}
.fam-palette{background-position:-1760px -120px}
.fam-paste-plain{background-position:-1780px -120px}
.fam-paste-word{background-position:-1800px -120px}
.fam-pencil{background-position:-1820px -120px}
.fam-pencil-add{background-position:-1840px -120px}
.fam-pencil-delete{background-position:-1860px -120px}
.fam-pencil-go{background-position:-1880px -120px}
.fam-phone{background-position:-1900px -120px}
.fam-phone-add{background-position:-1920px -120px}
.fam-phone-delete{background-position:-1940px -120px}
.fam-phone-sound{background-position:-1960px -120px}
.fam-photo{background-position:-1980px -120px}
.fam-photo-add{background-position:0 -140px}
.fam-photo-delete{background-position:-20px -140px}
.fam-photo-link{background-position:-40px -140px}
.fam-photos{background-position:-60px -140px}
.fam-picture{background-position:-80px -140px}
.fam-picture-add{background-position:-100px -140px}
.fam-picture-delete{background-position:-120px -140px}
.fam-picture-edit{background-position:-140px -140px}
.fam-picture-empty{background-position:-160px -140px}
.fam-picture-error{background-position:-180px -140px}
.fam-picture-go{background-position:-200px -140px}
.fam-picture-key{background-position:-220px -140px}
.fam-picture-link{background-position:-240px -140px}
.fam-picture-save{background-position:-260px -140px}
.fam-pictures{background-position:-280px -140px}
.fam-pilcrow{background-position:-300px -140px}
.fam-pill{background-position:-320px -140px}
.fam-pill-add{background-position:-340px -140px}
.fam-pill-delete{background-position:-360px -140px}
.fam-pill-go{background-position:-380px -140px}
.fam-plugin{background-position:-400px -140px}
.fam-plugin-add{background-position:-420px -140px}
.fam-plugin-delete{background-position:-440px -140px}
.fam-plugin-disabled{background-position:-460px -140px}
.fam-plugin-edit{background-position:-480px -140px}
.fam-plugin-error{background-position:-500px -140px}
.fam-plugin-go{background-position:-520px -140px}
.fam-plugin-link{background-position:-540px -140px}
.fam-printer{background-position:-560px -140px}
.fam-printer-add{background-position:-580px -140px}
.fam-printer-delete{background-position:-600px -140px}
.fam-printer-empty{background-position:-620px -140px}
.fam-printer-error{background-position:-640px -140px}
.fam-rainbow{background-position:-660px -140px}
.fam-report{background-position:-680px -140px}
.fam-report-add{background-position:-700px -140px}
.fam-report-delete{background-position:-720px -140px}
.fam-report-disk{background-position:-740px -140px}
.fam-report-edit{background-position:-760px -140px}
.fam-report-go{background-position:-780px -140px}
.fam-report-key{background-position:-800px -140px}
.fam-report-link{background-position:-820px -140px}
.fam-report-magnify{background-position:-840px -140px}
.fam-report-picture{background-position:-860px -140px}
.fam-report-user{background-position:-880px -140px}
.fam-report-word{background-position:-900px -140px}
.fam-resultset-first{background-position:-920px -140px}
.fam-resultset-last{background-position:-940px -140px}
.fam-resultset-next{background-position:-960px -140px}
.fam-resultset-previous{background-position:-980px -140px}
.fam-rosette{background-position:-1000px -140px}
.fam-rss{background-position:-1020px -140px}
.fam-rss-add{background-position:-1040px -140px}
.fam-rss-delete{background-position:-1060px -140px}
.fam-rss-go{background-position:-1080px -140px}
.fam-rss-valid{background-position:-1100px -140px}
.fam-ruby{background-position:-1120px -140px}
.fam-ruby-add{background-position:-1140px -140px}
.fam-ruby-delete{background-position:-1160px -140px}
.fam-ruby-gear{background-position:-1180px -140px}
.fam-ruby-get{background-position:-1200px -140px}
.fam-ruby-go{background-position:-1220px -140px}
.fam-ruby-key{background-position:-1240px -140px}
.fam-ruby-link{background-position:-1260px -140px}
.fam-ruby-put{background-position:-1280px -140px}
.fam-script{background-position:-1300px -140px}
.fam-script-add{background-position:-1320px -140px}
.fam-script-code{background-position:-1340px -140px}
.fam-script-code-red{background-position:-1360px -140px}
.fam-script-delete{background-position:-1380px -140px}
.fam-script-edit{background-position:-1400px -140px}
.fam-script-error{background-position:-1420px -140px}
.fam-script-gear{background-position:-1440px -140px}
.fam-script-go{background-position:-1460px -140px}
.fam-script-key{background-position:-1480px -140px}
.fam-script-lightning{background-position:-1500px -140px}
.fam-script-link{background-position:-1520px -140px}
.fam-script-palette{background-position:-1540px -140px}
.fam-script-save{background-position:-1560px -140px}
.fam-server{background-position:-1580px -140px}
.fam-server-add{background-position:-1600px -140px}
.fam-server-chart{background-position:-1620px -140px}
.fam-server-compressed{background-position:-1640px -140px}
.fam-server-connect{background-position:-1660px -140px}
.fam-server-database{background-position:-1680px -140px}
.fam-server-delete{background-position:-1700px -140px}
.fam-server-edit{background-position:-1720px -140px}
.fam-server-error{background-position:-1740px -140px}
.fam-server-go{background-position:-1760px -140px}
.fam-server-key{background-position:-1780px -140px}
.fam-server-lightning{background-position:-1800px -140px}
.fam-server-link{background-position:-1820px -140px}
.fam-server-uncompressed{background-position:-1840px -140px}
.fam-shading{background-position:-1860px -140px}
.fam-shape-align-bottom{background-position:-1880px -140px}
.fam-shape-align-center{background-position:-1900px -140px}
.fam-shape-align-left{background-position:-1920px -140px}
.fam-shape-align-middle{background-position:-1940px -140px}
.fam-shape-align-right{background-position:-1960px -140px}
.fam-shape-align-top{background-position:-1980px -140px}
.fam-shape-flip-horizontal{background-position:0 -160px}
.fam-shape-flip-vertical{background-position:-20px -160px}
.fam-shape-group{background-position:-40px -160px}
.fam-shape-handles{background-position:-60px -160px}
.fam-shape-move-back{background-position:-80px -160px}
.fam-shape-move-backwards{background-position:-100px -160px}
.fam-shape-move-forwards{background-position:-120px -160px}
.fam-shape-move-front{background-position:-140px -160px}
.fam-shape-rotate-anticlockwise{background-position:-160px -160px}
.fam-shape-rotate-clockwise{background-position:-180px -160px}
.fam-shape-square{background-position:-200px -160px}
.fam-shape-square-add{background-position:-220px -160px}
.fam-shape-square-delete{background-position:-240px -160px}
.fam-shape-square-edit{background-position:-260px -160px}
.fam-shape-square-error{background-position:-280px -160px}
.fam-shape-square-go{background-position:-300px -160px}
.fam-shape-square-key{background-position:-320px -160px}
.fam-shape-square-link{background-position:-340px -160px}
.fam-shape-ungroup{background-position:-360px -160px}
.fam-shield{background-position:-380px -160px}
.fam-shield-add{background-position:-400px -160px}
.fam-shield-delete{background-position:-420px -160px}
.fam-shield-go{background-position:-440px -160px}
.fam-sitemap{background-position:-460px -160px}
.fam-sitemap-color{background-position:-480px -160px}
.fam-sound{background-position:-500px -160px}
.fam-sound-add{background-position:-520px -160px}
.fam-sound-delete{background-position:-540px -160px}
.fam-sound-low{background-position:-560px -160px}
.fam-sound-mute{background-position:-580px -160px}
.fam-sound-none{background-position:-600px -160px}
.fam-spellcheck{background-position:-620px -160px}
.fam-sport-8ball{background-position:-640px -160px}
.fam-sport-basketball{background-position:-660px -160px}
.fam-sport-football{background-position:-680px -160px}
.fam-sport-golf{background-position:-700px -160px}
.fam-sport-raquet{background-position:-720px -160px}
.fam-sport-shuttlecock{background-position:-740px -160px}
.fam-sport-soccer{background-position:-760px -160px}
.fam-sport-tennis{background-position:-780px -160px}
.fam-star{background-position:-800px -160px}
.fam-status-away{background-position:-820px -160px}
.fam-status-busy{background-position:-840px -160px}
.fam-status-offline{background-position:-860px -160px}
.fam-status-online{background-position:-880px -160px}
.fam-stop{background-position:-900px -160px}
.fam-style{background-position:-920px -160px}
.fam-style-add{background-position:-940px -160px}
.fam-style-delete{background-position:-960px -160px}
.fam-style-edit{background-position:-980px -160px}
.fam-style-go{background-position:-1000px -160px}
.fam-sum{background-position:-1020px -160px}
.fam-tab{background-position:-1040px -160px}
.fam-tab-add{background-position:-1060px -160px}
.fam-tab-delete{background-position:-1080px -160px}
.fam-tab-edit{background-position:-1100px -160px}
.fam-tab-go{background-position:-1120px -160px}
.fam-table{background-position:-1140px -160px}
.fam-table-add{background-position:-1160px -160px}
.fam-table-delete{background-position:-1180px -160px}
.fam-table-edit{background-position:-1200px -160px}
.fam-table-error{background-position:-1220px -160px}
.fam-table-gear{background-position:-1240px -160px}
.fam-table-go{background-position:-1260px -160px}
.fam-table-key{background-position:-1280px -160px}
.fam-table-lightning{background-position:-1300px -160px}
.fam-table-link{background-position:-1320px -160px}
.fam-table-multiple{background-position:-1340px -160px}
.fam-table-refresh{background-position:-1360px -160px}
.fam-table-relationship{background-position:-1380px -160px}
.fam-table-row-delete{background-position:-1400px -160px}
.fam-table-row-insert{background-position:-1420px -160px}
.fam-table-save{background-position:-1440px -160px}
.fam-table-sort{background-position:-1460px -160px}
.fam-tag{background-position:-1480px -160px}
.fam-tag-blue{background-position:-1500px -160px}
.fam-tag-blue-add{background-position:-1520px -160px}
.fam-tag-blue-delete{background-position:-1540px -160px}
.fam-tag-blue-edit{background-position:-1560px -160px}
.fam-tag-green{background-position:-1580px -160px}
.fam-tag-orange{background-position:-1600px -160px}
.fam-tag-pink{background-position:-1620px -160px}
.fam-tag-purple{background-position:-1640px -160px}
.fam-tag-red{background-position:-1660px -160px}
.fam-tag-yellow{background-position:-1680px -160px}
.fam-telephone{background-position:-1700px -160px}
.fam-telephone-add{background-position:-1720px -160px}
.fam-telephone-delete{background-position:-1740px -160px}
.fam-telephone-edit{background-position:-1760px -160px}
.fam-telephone-error{background-position:-1780px -160px}
.fam-telephone-go{background-position:-1800px -160px}
.fam-telephone-key{background-position:-1820px -160px}
.fam-telephone-link{background-position:-1840px -160px}
.fam-television{background-position:-1860px -160px}
.fam-television-add{background-position:-1880px -160px}
.fam-television-delete{background-position:-1900px -160px}
.fam-text-align-center{background-position:-1920px -160px}
.fam-text-align-justify{background-position:-1940px -160px}
.fam-text-align-left{background-position:-1960px -160px}
.fam-text-align-right{background-position:-1980px -160px}
.fam-text-allcaps{background-position:0 -180px}
.fam-text-bold{background-position:-20px -180px}
.fam-text-columns{background-position:-40px -180px}
.fam-text-dropcaps{background-position:-60px -180px}
.fam-text-heading-1{background-position:-80px -180px}
.fam-text-heading-2{background-position:-100px -180px}
.fam-text-heading-3{background-position:-120px -180px}
.fam-text-heading-4{background-position:-140px -180px}
.fam-text-heading-5{background-position:-160px -180px}
.fam-text-heading-6{background-position:-180px -180px}
.fam-text-horizontalrule{background-position:-200px -180px}
.fam-text-indent{background-position:-220px -180px}
.fam-text-indent-remove{background-position:-240px -180px}
.fam-text-italic{background-position:-260px -180px}
.fam-text-kerning{background-position:-280px -180px}
.fam-text-letter-omega{background-position:-300px -180px}
.fam-text-letterspacing{background-position:-320px -180px}
.fam-text-linespacing{background-position:-340px -180px}
.fam-text-list-bullets{background-position:-360px -180px}
.fam-text-list-numbers{background-position:-380px -180px}
.fam-text-lowercase{background-position:-400px -180px}
.fam-text-padding-bottom{background-position:-420px -180px}
.fam-text-padding-left{background-position:-440px -180px}
.fam-text-padding-right{background-position:-460px -180px}
.fam-text-padding-top{background-position:-480px -180px}
.fam-text-replace{background-position:-500px -180px}
.fam-text-signature{background-position:-520px -180px}
.fam-text-smallcaps{background-position:-540px -180px}
.fam-text-strikethrough{background-position:-560px -180px}
.fam-text-subscript{background-position:-580px -180px}
.fam-text-superscript{background-position:-600px -180px}
.fam-text-underline{background-position:-620px -180px}
.fam-text-uppercase{background-position:-640px -180px}
.fam-textfield{background-position:-660px -180px}
.fam-textfield-add{background-position:-680px -180px}
.fam-textfield-delete{background-position:-700px -180px}
.fam-textfield-key{background-position:-720px -180px}
.fam-textfield-rename{background-position:-740px -180px}
.fam-thumb-down{background-position:-760px -180px}
.fam-thumb-up{background-position:-780px -180px}
.fam-tick{background-position:-800px -180px}
.fam-time{background-position:-820px -180px}
.fam-time-add{background-position:-840px -180px}
.fam-time-delete{background-position:-860px -180px}
.fam-time-go{background-position:-880px -180px}
.fam-timeline-marker{background-position:-900px -180px}
.fam-transmit{background-position:-920px -180px}
.fam-transmit-add{background-position:-940px -180px}
.fam-transmit-blue{background-position:-960px -180px}
.fam-transmit-delete{background-position:-980px -180px}
.fam-transmit-edit{background-position:-1000px -180px}
.fam-transmit-error{background-position:-1020px -180px}
.fam-transmit-go{background-position:-1040px -180px}
.fam-tux{background-position:-1060px -180px}
.fam-user{background-position:-1080px -180px}
.fam-user-add{background-position:-1100px -180px}
.fam-user-comment{background-position:-1120px -180px}
.fam-user-delete{background-position:-1140px -180px}
.fam-user-edit{background-position:-1160px -180px}
.fam-user-female{background-position:-1180px -180px}
.fam-user-go{background-position:-1200px -180px}
.fam-user-gray{background-position:-1220px -180px}
.fam-user-green{background-position:-1240px -180px}
.fam-user-orange{background-position:-1260px -180px}
.fam-user-red{background-position:-1280px -180px}
.fam-user-suit{background-position:-1300px -180px}
.fam-vcard{background-position:-1320px -180px}
.fam-vcard-add{background-position:-1340px -180px}
.fam-vcard-delete{background-position:-1360px -180px}
.fam-vcard-edit{background-position:-1380px -180px}
.fam-vector{background-position:-1400px -180px}
.fam-vector-add{background-position:-1420px -180px}
.fam-vector-delete{background-position:-1440px -180px}
.fam-wand{background-position:-1460px -180px}
.fam-weather-clouds{background-position:-1480px -180px}
.fam-weather-cloudy{background-position:-1500px -180px}
.fam-weather-lightning{background-position:-1520px -180px}
.fam-weather-rain{background-position:-1540px -180px}
.fam-weather-snow{background-position:-1560px -180px}
.fam-weather-sun{background-position:-1580px -180px}
.fam-webcam{background-position:-1600px -180px}
.fam-webcam-add{background-position:-1620px -180px}
.fam-webcam-delete{background-position:-1640px -180px}
.fam-webcam-error{background-position:-1660px -180px}
.fam-world{background-position:-1680px -180px}
.fam-world-add{background-position:-1700px -180px}
.fam-world-delete{background-position:-1720px -180px}
.fam-world-edit{background-position:-1740px -180px}
.fam-world-go{background-position:-1760px -180px}
.fam-world-link{background-position:-1780px -180px}
.fam-wrench{background-position:-1800px -180px}
.fam-wrench-orange{background-position:-1820px -180px}
.fam-xhtml{background-position:-1840px -180px}
.fam-xhtml-add{background-position:-1860px -180px}
.fam-xhtml-delete{background-position:-1880px -180px}
.fam-xhtml-go{background-position:-1900px -180px}
.fam-xhtml-valid{background-position:-1920px -180px}
.fam-zoom{background-position:-1940px -180px}
.fam-zoom-in{background-position:-1960px -180px}
.fam-zoom-out{background-position:-1980px -180px;  }
